docker/output/*
!docker/output/build-helper.sh
!docker/output/build-pacman.conf
!docker/output/build.sh

vagrant/vagrant_cache
vagrant/output*
vagrant/.vagrant
vagrant/packer_cache
vagrant/testing
pkg/
src/
trunk/

*.swp
*~
*.tmp
tags

.MTREE
.PKGINFO
